<div class="container">
    <div class="weather-box">
        <form action="" class="form-group" method="POST">
            {{ form.hidden_tag() }}
            
            </div>
        </form>
    </div>
{% if cities %}
    <h1>LOL</h1>
    {% for city in cities %}
        <div>{{city.city_name}}</div>
        <div>{{city.temp}}</div>
    {% endfor %}
{% endif %}
<div class="flash_message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class='flash'>
        {% for category, message in messages %}
          <div class="flashes {{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</div>
</div>